*{
    margin: 0;
}

.main {
    margin-left: 30vh;
    margin-right: 30vh;
}

.topico-selecionado h2{
    text-align: center;
    font-family: textoboldfont;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 25px;
}

.texto-conteudo{
    font-family: textoregularfont;
    text-align: justify;
    font-size: 17px;
    margin-bottom: 40px;
    line-height: 25px;
}

.img-cont{
    margin-bottom: 15px;
    width: 100%;
    height: 40vh;
    object-fit: cover;
    align-self: center;
    position: relative;
}

@font-face {
    font-family: logofont;
    src: url(Fontes/Forum-Regular.ttf);
}

@font-face {
    font-family: textoboldfont;
    src: url(Fontes/Roboto-Bold.ttf);
}

@font-face {
    font-family: textoregularfont;
    src: url(Fontes/Roboto-Regular.ttf);
}